<ProxyConfig allowedReferers=""
             mustMatch="true"
             logFile="proxyLog.txt"
             logLevel="Warning">
    <serverUrls>
      <serverUrl url="youtube.com"
                  username="amoha093"
                  password="test"
                  matchAll="true"/>
    </serverUrls>
</ProxyConfig>

<script>
function FindProxyForURL(url, host) {
 // Bypass the proxy for *.thewindowsclub.com
 if (dnsDomainIs(host, ".thewindowsclub.com")) {
               return "DIRECT";
 }
 return "PROXY http://127.0.0.1:18080";
 } // End of function
</script>
